section[data-testid="stSidebar"] {
  width: 0px !important;
  min-width: 0px !important;
}

section[data-testid="stSidebar"] > div {
  display: none !important;
}

button[kind="header"] {
  display: none !important;
}
